body {
    font-family: sans-serif;
}
header, nav{
    background-color:lightblue;
    
    
}


img{
    margin: 10px;
}
h1{
    background-color: olive;
    
}
footer{
    background-color: lightblue;
}
